* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

textarea,input[type="text"],input[type="password"] {
  padding: 5px 10px;
}

textarea.error::placeholder,input[type="text"].error::placeholder,input[type="password"].error::placeholder {
  color: red
}

textarea.error,input[type="text"].error,input[type="password"].error {
  color: red
}

button {
  padding: 5px 10px;
  background-color: #455087;
  color: #fff;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.todo_item_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.executor_info {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.executor_info_container {
    display: flex;
    padding: 10px 0;
}

.executor_text {
    margin-right: 15px;
}

.task {
    padding: 10px 0;
} 

.task p {
  margin-bottom: 10px;

}